.weather-result-layout {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: stretch;
    max-width: 960px;
    margin: 30px auto 0 auto;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.layout-main-card {
    /* flex: 0 0 300px;     */
    width: 100%;
    max-width: 300px;
    display: flex;
}

.layout-forecast-panel {
    /* flex: 1 1 500px; */
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 260px;
    max-width: 520px;
    display: flex;
}


@media (max-width: 880px) {
    .weather-result-layout {
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        padding: 0 10px;
    }

    .layout-main-card,
    .layout-forecast-panel {
        width: 100%;
        /* flex-basis: auto;        */
    }

    .layout-forecast-panel {
        max-width: 450px;
    }
}

@media (max-width: 500px) {
    .layout-forecast-panel {
        max-width: 300px;
    }
}