.weather-form {
    padding-top: 40px;
    display: flex;
    gap: 10px;
    margin: 20px auto;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Iosevka Charon", monospace;
    width: 100%;
    justify-content: center;
}

.weather-input {
    flex: 1;
    min-width: 200px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline-color: #7b4376;
}

.weather-btn,
.forecast-toggle-btn {
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background-color: #7b4376;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    white-space: nowrap;
}

.forecast-toggle-btn.active {
    background-color: #370947;
}

.weather-btn:hover,
.forecast-toggle-btn:hover {
    filter: brightness(90%);
}

@media (max-width: 450px) {
    .weather-form {
        flex-direction: column;
        align-items: stretch;        
        padding: 0 15px;
    }

    .weather-input {
        width: 100%;
        min-width: 100%;        
    }

    .weather-btn,
    .forecast-toggle-btn {
        width: 100%;
        text-align: center;
        white-space: normal;        
    }
}